.header__form {
  &--hide {
    display: none;
  }

  &-el {
    & > input[type="text"] {
      @include form-boxes;

      &:focus {
        outline: none;

        outline: 2px solid $focus-color;
      }

      &::placeholder {
        opacity: 0.7;
        color: inherit;
        font-family: inherit;
      }
    }
  }
}
