////////******** COLORS ********////////

// PRIMARY COLORS
$white: #ffffff;
$primary-color: #ff6b0d;
$primary-container-color: #d65400;
$on-primary-container-color: #361500;
$text-color: #e5d8cf;

// SECONDARY COLORS
$focus-color: #e2b292;

// DELETE COLORS
$delete-color: #ee3030;

////////******** FONTS ********////////

$primary-font: "Courgette", cursive;
